[submodule "SFSelect"]
	path = SFSelect
	url = https://github.com/airanmehr/SFSelect.git
[submodule "sweed"]
	path = sweed
	url = git@github.com:airanmehr/sweed.git
[submodule "selscan"]
	path = selscan
	url = git@github.com:airanmehr/selscan.git
[submodule "SDS"]
	path = SDS
	url = git@github.com:airanmehr/SDS.git
